{% extends 'navbar.html' %}
{%load static%}

{% block static %}
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/img/mylogo.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}  
<title>Enroll | Rania Devina</title>
{% endblock %}

{% block content %}
<body class="halamanactivity">
    <div class="container-activity">
        <h1>Register your activity!</h1>
    <div class="flex flex-col">
        <div class="containerPerfCenter border-r-4 items-center">
            <div class="flex">
                <div class=" text-black">
                    <form  method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="text-sm">
                                {{form.nama_kegiatan.label_tag}}
                            </div>
                            {{form.nama_kegiatan}}
                        </div>
                        <div class="form-group">
                            <div class="text-sm">
                                {{form.deskripsi_kegiatan.label_tag}}
    
                            </div>
                            {{form.deskripsi_kegiatan}}
                        </div>
    
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Enroll</button>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>
    </div>
    </div>
    
</body>


{% endblock content %}