{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/img/mylogo.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}  
<title>Register | Rania Devina</title>
{% endblock %}

{% block content %}
<body class="daftarpage">
    <div class="containerPerfCenter">
        <div class="flex-column">
            <h1>
                Join this activity!
            </h1>
            
            <div style="font-family: Arial, Helvetica, sans-serif; color: black;">
    
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div style="color: black;">
                            {{form.nama_orang.label_tag}}
                        </div>
                        {{form.nama_orang}}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">Register</button>
                    </div>
                </form>
            </div>
    
        </div>
    </div>
    
</body>

{% endblock content %}