{% extends 'navbar.html' %}
{% load static %}

{% block title %}
    <title>Subjects | Rania Devina</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/img/mylogo.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% endblock %}

{% block content %}
<body class="datapage">
    <h1>This is Your Schedule Details</h1>

    {% if data.count == 0 %}
        <div class="flex-col items-center justify-center ">
            <div style="background-color: inherit;" class="containerPerfCenter">
                <h1 class="text-2xl">
                    There is no schedule yet! Create one &#10024;</h1>
            </div>
            <div class="text-center">
                <a href="{% url 'features:schedule'%}">
                    <button type="submit"  class="btn btn-primary">Add schedule</button>
                </a>
            </div>
            
        </div>
    
    {% else %}

    {% for matkul in data %}

    <div class="datacard" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">{{matkul.nama_matkul}}</h3>
          <p class="card-text">Jumlah SKS: {{matkul.jumlah_sks}}</p>
          <p class="card-text">Tahun Ajaran: {{matkul.semester}}</p>
          <p class="card-text">Dosen Pengampu: {{matkul.dosen}}</p>
          <p class="card-text">Tempat: {{matkul.ruangan}}</p>
          <p class="card-text">Deskripsi Pelajaran: {{matkul.deskripsi}}</p>

        </div>
        <div class="text-center">
            <a  href="{% url 'features:delete' delete_id=matkul.id %}">
                <button type="submit" class="btn btn-primary">Delete Schedule</button>
            </a>
        </div>
        
    </div>

    {% endfor %}
    {% endif %}

</body>
{% endblock %}