{% extends 'navbar.html' %}
{% load static %}

{% block title %}
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/img/mylogo.png">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <title>Favorites | Rania Devina</title>
{% endblock %}


{% block content %}
<body class="novelpage">
    <section id="core">
        <div class="containerbaru">
            <h1 class="heading">My Favorite Novels</h1>
            <p class="subheading">Look out my most favorite Indonesian novels!</p>
            <div class="card-wrapper">

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/bumi.jpg" alt="profile bumi" class="profile-img">
                    <h1>Bumi (Series)</h1>
                    <p class="keterangan">Tere Liye | 2014</p>
                    <p class="aboutnovel">Buku ini bercerita tentang 3 orang siswa bernama Raib, Seli, dan Ali yang masing-masing memiliki kekuatan super dan berasal
                        dari klan yang berbeda. Di buku ini, dunia yang kita tempati sekarang bersifat paralel. Tanpa sepengetahuan kita, rakyat Bumi hidup berdampingan dengan
                        rakyat dari klan lain seperti klan Bulan, Matahari, dan Bintang.
                    </p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/tereliyewriter/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/darwistereliye"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/tereliyewriter/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://id.wikipedia.org/wiki/Bumi_(novel)"><i class="fab fa-google"></i></a></li>

                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/hujan.jpg" alt="profile bumi" class="profile-img">
                    <h1>Hujan</h1>
                    <p class="keterangan">Tere Liye | 2016</p>
                    <p class="aboutnovel">Hujan sangat cocok untuk kalian yang sedang menunggu seseorang. Buku ini mengajarkan kesabaran, ketabahan, dan keresahan seorang Lail
                        yang selalu menantikan pertemuannya dengan pemuda yang ia sukai diam-diam, Soke Bahtera. Banyak sekali rintangan yang mereka hadapi selama perjalanan hidup
                        mereka. Buku ini juga mengajarkan kita tentang Sains dan fenomena dunia lainnya.
                    </p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/tereliyewriter/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/darwistereliye"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/tereliyewriter/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.goodreads.com/id/book/show/28446637-hujan"><i class="fab fa-google"></i></a></li>
        
                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/supernova.jpg" alt="profile bumi" class="profile-img">
                    <h1>Supernova (Series)</h1>
                    <p class="keterangan">Dee Lestari | 2001</p>
                    <p class="aboutnovel">Supernova mengisahkan 4 perintis utama yang terpisah di kehidupan mereka. Ada peretas mimpi, peretas memori, peretas gerbang, dan peretas kunci. 
                        Mereka terpisah di negara dan latar belakang yang berbeda. Mendekati klimaks, mereka disatukan oleh takdir untuk mengumpulkan kekuatan mereka. </p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/pages/category/Author/Dee-Lestari-6846134641/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/deelestari"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/deelestari/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://id.wikipedia.org/wiki/Supernova_(novel)"><i class="fab fa-google"></i></a></li>
     
                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/ubur.jpg" alt="profile bumi" class="profile-img">
                    <h1>Ubur-ubur Lembur</h1>
                    <p class="keterangan">Raditya Dika | 2018</p>
                    <p class="aboutnovel">Ubur-Ubur Lembur adalah kumpulan kisah nyata dengan berbagai tema. Mulai dari pertemanan, 
                        percintaan, karier, hingga cerita masa kecilnya. Cerita-cerita itu dibungkus dengan komedi yang membuat kita 
                        ingin terus membuka lembar demi lembar, halaman demi halaman, serta membaca kata demi kata yang Radit tulis di dalamnya.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/radityadikapages/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/radityadika/"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://instagram.com/radityadika"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://id.wikipedia.org/wiki/Ubur-Ubur_Lembur"><i class="fab fa-google"></i></a></li>
            
                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/seoul.jpg" alt="profile bumi" class="profile-img">
                    <h1>Summer In Seoul</h1>
                    <p class="keterangan">Ilana Tan | 2006</p>
                    <p class="aboutnovel">Novel ini bercerita tentang Sandy alias Han Soon-hee, gadis keturunan Indonesia-Korea. Ia kuliah dan 
                        bekerja di sebuah butik perancang terkenal di Seoul. Pada suatu malam di musim panas, ia memutuskan untuk belanja di swalayan.
                        Hal tersebut pun merubah hidupnya selamanya.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/ilana.tan/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/Ilana_Tan"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/ilanatanofficial/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://id.wikipedia.org/wiki/Summer_in_Seoul"><i class="fab fa-google"></i></a></li>

                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/bluemoon.jpg" alt="profile bumi" class="profile-img">
                    <h1>In A Blue Moon</h1>
                    <p class="keterangan">Ilana Tan | 2015</p>
                    <p class="aboutnovel">In a Blue Moon bercerita tentang Sophie Wilson gadis cantik pandai membuat kue yang mempunyai masa lalu buruk dengan Lucas Ford. Tapi sialnya, kakek mereka yang kenal dekat bersepakat untuk menjodohkan mereka. 
                        Lucas Ford pertama kali bertemu dengan Sophie Wilson di bulan Desember pada tahun terakhir SMA-nya</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/ilana.tan/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/Ilana_Tan"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/ilanatanofficial/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://id.wikipedia.org/wiki/In_a_Blue_Moon"><i class="fab fa-google"></i></a></li>

                    </ul>
                </div>

            </div>

            <h1 class="heading">My Favorite Movies</h1>
            <p class="subheading">Look out my most favorite movies of all time!</p>
            <div class="card-wrapper">

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/endgame.jpg" alt="profile bumi" class="profile-img">
                    <h1>Avengers: Endgame</h1>
                    <p class="keterangan">Action/Sci-fi | 2019</p>
                    <p class="aboutnovel">Adrift in space with no food or water, Tony Stark sends a message to Pepper Potts as 
                        his oxygen supply starts to dwindle. Meanwhile, the remaining Avengers must figure out a way to bring back their 
                        vanquished allies for an epic showdown with Thanos -- the evil demigod who decimated the planet and the universe.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/Marvel/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/Marvel"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/marvel/?hl=en"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Avengers:_Endgame"><i class="fab fa-google"></i></a></li>

                    </ul>

                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/starwars.jpg" alt="profile bumi" class="profile-img">
                    <h1>Star Wars: The Force Awakens (Episode VII)</h1>
                    <p class="keterangan">Action/Sci-fi | 2015</p>
                    <p class="aboutnovel">Thirty years after the defeat of the Galactic Empire, Han Solo (Harrison Ford) 
                        and his young allies face a new threat from the evil Kylo Ren (Adam Driver) and the First Order.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/lucasfilm/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/starwars"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/starwars/?hl=en"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Star_Wars:_The_Force_Awakens"><i class="fab fa-google"></i></a></li>
               
                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/busan.jpg" alt="profile bumi" class="profile-img">
                    <h1>Train To Busan</h1>
                    <p class="keterangan">Horror/Thriller | 2016</p>
                    <p class="aboutnovel">Seok-woo and his daughter are on a train to Busan on the latter's birthday to see his wife. 
                        However, the journey turns into a nightmare when they are trapped amidst a zombie outbreak in South Korea.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/BusanMovie/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/peninsulamovie"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/traintobusanmovie/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Train_to_Busan"><i class="fab fa-google"></i></a></li>
                        
                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/imperfect.jpeg" alt="profile bumi" class="profile-img">
                    <h1>Imperfect</h1>
                    <p class="keterangan">Drama/Romance | 2019</p>
                    <p class="aboutnovel">Imperfect berkisah tentang Rara (diperankan Jessica Milla) yang tak peduli dengan ejekan 
                        orang lain mengenai bentuk tubuhnya yang tidak proporsional 
                        untuk ukuran seorang perempuan seusianya. Sebab dia sudah mendengarkan hal ini sejak kecil dan menjadi terbiasa.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/public/Ernest-Prakasa"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/ernestprakasa"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/ernestprakasa/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://id.wikipedia.org/wiki/Imperfect:_Karier,_Cinta_%26_Timbangan"><i class="fab fa-google"></i></a></li>
              
                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/aladdin.jpg" alt="profile bumi" class="profile-img">
                    <h1>Aladdin</h1>
                    <p class="keterangan"> Adventure/Family | 2019</p>
                    <p class="aboutnovel">Aladdin is a lovable street urchin who meets Princess Jasmine, the beautiful daughter of the sultan of Agrabah.
                         While visiting her exotic palace, Aladdin stumbles upon a magic oil lamp that unleashes a powerful, wisecracking, 
                         larger-than-life genie. As Aladdin and the genie start to become friends, 
                        they must soon embark on a dangerous mission to stop the evil sorcerer, Jafar, from overthrowing young Jasmine's kingdom.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/DisneyAladdin/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/disneyaladdin"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/disneyaladdin/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Aladdin_(2019_film)"><i class="fab fa-google"></i></a></li>

                    </ul>
                </div>

                <div class="card">
                    <img src="/static/img/cardbg.jpg" alt="card background" class="card-img">
                    <img src="/static/img/coco.jpg" alt="profile bumi" class="profile-img">
                    <h1>Coco</h1>
                    <p class="keterangan">Animation/Family | 2017</p>
                    <p class="aboutnovel">Despite his family's generations-old ban on music, young Miguel dreams of becoming an 
                        accomplished musician like his idol Ernesto de la Cruz. Desperate to prove his talent, Miguel finds 
                        himself in the stunning and colorful Land of the Dead. After meeting a charming trickster named Héctor, 
                        the two new friends embark on an extraordinary journey to unlock the real story behind Miguel's family history.</p>
                    <a href="#" class="btn">Contact</a>
                    <ul class="socialmedia">
                        <li><a href="https://www.facebook.com/Coco/"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://twitter.com/pixarcoco"><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href="https://www.instagram.com/pixarcoco/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Coco_(2017_film)"><i class="fab fa-google"></i></a></li>

                    </ul>
                </div>

            </div>

            <h1 class="heading">My Favorite Songs</h1>
            <p class="subheading">This is my favorite playlist on Spotify!</p>
            <div class="containerspot">
                <div class="rows">
                    <iframe src="https://open.spotify.com/embed/track/4Ws314Ylb27BVsvlZOy30C" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <iframe src="https://open.spotify.com/embed/track/2YzmfPLqUx5CJOaw5ThsBV" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <iframe src="https://open.spotify.com/embed/track/6wqmvAct0xhX6plr6wv5Jp" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <iframe src="https://open.spotify.com/embed/track/6YbhspuOar1D9WSSnfe7ds" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <iframe src="https://open.spotify.com/embed/track/1nlKYpqe2qT1fwiXMr6ju3" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <iframe src="https://open.spotify.com/embed/track/1SaQZoFXNu7ZAxxKImzFgf" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <iframe src="https://open.spotify.com/embed/track/1c3GkbZBnyrQ1cm4TGHFrK" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                    <iframe src="https://open.spotify.com/embed/track/70IUdep42ciFYWxAY3rl22" width="260" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
              </div>
            </div>

        </div>
    </section>
</body>
{% endblock %}
