{% extends 'navbar.html' %}
{% load static %}

{% block title %}
  <link rel="stylesheet" href="/static/style.css">
  <link rel="icon" type="image/png" href="/static/img/mylogo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Gallery | Rania Devina</title>
{% endblock %}

{% block content %}
<body class="newhtml">
    <div class="newcontainer">
        <h2>MY FRIENDS</h2>
        <p>Look at my college days at Fakultas Ilmu Komputer, Universitas Indonesia &#128525</p>
        
        <div class="newrow">
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/static/img/satu.jpg">
                <img src="/static/img/satu.jpg" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">March 2020 @ Belalai</div>
                </div>
                <div class="caption">
                  <p>Ini adalah foto dengan kedua Vice Project Officer di acara OH Fasilkom UI 2020. Numpang curhat dikit, harusnya
                    kegiatan dilaksanakan secara offline, dan kita sudah menyepakati untuk melaksanakannya di gedung baru. Udah super excited 
                    tau2nya online huhuhu</p>
                </div>
              </a>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/static/img/tiga.jpg" target="_blank">
                <img src="/static/img/tiga.jpg" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">24th November 2020 @ FEB UI</div>
                </div>
                <div class="caption">
                  <p>Setelah dilaksanakannya Momen Kekerabatan, kami langsung menuju Jazz Goes To Campus yang diselenggarakan FEB UI. Kalo boleh
                    jujur, kita sangat lelah karena pada saat MK, kami hanya memiliki sedikit waktu untuk tidur. Tetapi karena ini pertama kali 
                    ke pentas seni bareng, aku jadi semangat deh!
                  </p>
                </div>
              </a>
            </div>
          </div>
      
          <div class="col-md-4">
            <div class="thumbnail">
              <a href="/static/img/dua.jpg" target="_blank">
                <img src="/static/img/dua.jpg" class="image" style="width:100%">
                <div class="middle">
                    <div class="text">30th October 2020 @ Balairung UI</div>
                </div>
                <div class="caption">
                  <p>Di awal masuk Fasilkom, ada Parade untuk menyambut OLIM, OIM, dan UIAW. Kita menyanyikan yel-yel Fasilkom. Parade ini seru
                    banget, karena kita bisa lihat dan mengadu kekompakan kita dengan Fakultas lain di UI. Ternyata yel-yel Fasilkom not bad loh!
                    Aku paling suka yang acak-acak SIAKNG
                  </p>
                </div>
              </a>
            </div>
          </div>
      
          <div class="col-md-4">
              <div class="thumbnail">
                <a href="/static/img/empat.jpg" target="_blank">
                  <img src="/static/img/empat.jpg" class="image" style="width:100%">
                    <div class="middle">
                        <div class="text">21th August 2020 @ Gedung baru</div>
                    </div>
                  <div class="caption">
                    <p>Ini adalah salah satu foto pertama maungmeong, yaitu saat hari ketiga PSAF di gedung baru. Di sini, kita memakai batik, sebenernya
                      kayaknya ini foto pertama banget parah sih, karena di situ aku belom kenal sama beberapa anak. Tiba-tiba diajak foto eh yaudah, ternyata
                      sampe sini HEHEHE
                    </p>
                  </div>
                </a>
              </div>
          </div>
      
          <div class="col-md-4">
              <div class="thumbnail">
                <a href="/static/img/lima.jpg" target="_blank">
                  <img src="/static/img/lima.jpg" class="image" style="width:100%">
                  <div class="middle">
                    <div class="text">28th August 2020 @ Rotunda UI</div>
                    </div>
                  <div class="caption">
                    <p>Foto paling dinanti-nantikan oleh mahasiswa baru, yaitu berpose di depan Gedung Rektorat UI menggunakan jakun. Saat ini, maungmeong
                      baru pertama kali kenal loh, kita belum deket dan masih 'agak' canggung. Tapi karena bareng-bareng jadi asikin aja deh, turns out
                      foto nya bagus!
                    </p>
                  </div>
                </a>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="/static/img/enam.jpg" target="_blank">
                  <img src="/static/img/enam.jpg" class="image" style="width:100%">
                  <div class="middle">
                    <div class="text">21th December 2020 @ Yuli</div>
                    </div>
                  <div class="caption">
                    <p>Maungmeong ((rada glow up)) version karena ini diambil saat selesai UAS semester pertama di Fasilkom. Ada yang lucu di balik foto ini, yaitu warna baju. 
                      Kita memang janjian pakai baju warna hitam seragam biar bagus dan kontras sama dinding gedung A. Kalo diinget, jadi kangen 
                       makan di Yuli</p>
                  </div>
                </a>
              </div>
            </div>
        </div>
    </div>


</body>
{% endblock %}

