{% extends 'navbar.html' %}
{% load static %}

{% block static %}
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" type="image/png" href="/static/img/mylogo.png">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}  
<title>List | Rania Devina</title>
{% endblock %}

{% block content %}
<body class="listpage">
    <h1>Is there any activity you want to join? &#128526;</h1>

    {% if listActivity.count == 0 %}
        <div class="flex-col items-center justify-center ">
            <div style="background-color: inherit;" class="containerPerfCenter">
                <h1 class="text-2xl">
                    There is no activity yet! Enroll one &#129304;</h1>
            </div>
            <div class="text-center">
                <a href="{% url 'activities:activity'%}">
                    <button type="submit"  class="btn btn-primary">Add activity</button>
                </a>
            </div>
            
        </div>
    
    {% else %}

    <section class="container-fluid d-flex flex-wrap align-content-center mt-5">
      <div style="font-family: Arial, Helvetica, sans-serif;" class="section-title mx-auto text-center mt-5">
          
      </div>
  
      <div style="font-family: Arial, Helvetica, sans-serif;" class="row w-100 justify-content-center">
          {% for x in kegiatan %}
          <div class="col-4 m-4 p-4 rounded border">
              <ul class="list-group">
                  <li class="list-group-item list-group-item-primary"> <b> {{ x.nama_kegiatan }} </b> </li>
  
                  {% for y in orang %}
                  {% if y.kegiatan == x %}
                  <li class="list-group-item">
                      <div class="d-flex justify-content-between">
                        {{ y.nama_orang }}
                          <div class="text-center">
                            
                            <a href="{% url 'activities:delete' delete_id=y.pk %}">
                              <button type="submit" class="btn btn-danger">Give up!</button>
                            </a>
                          </div>
                      </div>
                  </li>
                  {% endif %}
                  {% endfor %}
              </ul>
  

              <div class="text-center">
                <a  href="{% url 'activities:daftar' task_id=x.pk %}">
                    <button type="submit" class="btn btn-primary">Join Activity</button>
                </a>
            </div>

          </div>
          {% endfor %}
      </div>
  
  </section>
    {% endif %}

</body>
{% endblock content %}